.spacer {
    flex-grow: 1;
}

.ApplyRedactions[disabled] {
    display: none;
}

.ApplyRedactions {
    background: #0078d4 !important;
	color: #fff !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.ApplyRedactions:hover {
    background: #044c82 !important;
}

.ApplyRedactions:active:hover {
    background: #0078d4 !important;
}